@import "./nav.css";
@import "./cards.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300&display=swap');

:root {
    --font-lato: 'Lato', sans-serif;
}

html {
    margin: 0 .1em;
    background-color: whitesmoke;
}

.page-title {
    margin: .5em 0em;
    font-size: 4em;
    letter-spacing: -0.06em;
    font-family: var(--font-lato);
}

@media (min-width: 900px) {

    main {
        margin: 0 auto;
        max-width: 900px;
    }
}