@import "./nav.css";
@import "./cards.css";
@import "./footer.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300&display=swap');

:root {
  --font-lato: 'Lato', sans-serif;
}

body {
  background-color: whitesmoke;
  margin: 0;
}

header, 
main {
  margin: .75em;
}

.page-title {
  margin: .5em 0;
  font-size: 4em;
  letter-spacing: -0.06em;
  font-family: var(--font-lato);
}

@media (min-width: 900px) {

  main {
    margin: 0 auto;
    max-width: 900px;
  }
}